<div class="csv_mapper_import_errros">
  <h2><%= csv_mapper_t(:import_errors) %>:</h2>
  <ol>
    <%- @csv_import_errors.each do |error| -%>
    <li><%= error.full_messages %></li>
    <%- end -%>
  </ol>
</div>