<div class="csv_mapper_import_errros">
  <h2><%= t(:import_errors, scope: :csv_mapper) %>:</h2>
  <ol>
    <%- @csv_import_errors.each do |error| -%>
    <li><%= error.full_messages %></li>
    <%- end -%>
  </ol>
</div>
